.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 180;

  max-width: 160px;

  

  background-color: salmon;
  z-index: 1000;
  overflow-y: scroll;

  scrollbar-width: none;
}

.link {
  padding: 20px 10px 10px 10px;
  margin-left: 0px;
  text-decoration: none;
  color: white;
  font-size: 25px;
  display: inline;
  width: 100%;

}

.link:hover{
  background-color: rgb(205, 101, 89);
  transform: scale(1.1);
}

